body{background-color: #ffde59; 
} /* The background colour of the main page */

/*Let's set the typography of the paragraph anf titles for this page*/
@font-face { /*We import the type of fonts*/
    font-family: "Aileron";
    font-style: normal;
    src: local("Aileron-SemiBold"), url(https://raw.githack.com/dlfe-laura/Portfolio/main/Aileron-SemiBold.woff), format("woff");
} /*using raw.github.com for the src of the fonts*/

@font-face {
    font-family: "Ramillas" ;
    font-style: normal;
    src:local("Ramillas-Regular") url(https://raw.githack.com/dlfe-laura/Portfolio/main/Ramillas-Regular.ttf), format("truetype");
}

/*Set h1, h2*/
h1, h2 {color: black;
font-size: large;
font-family: "Ramillas";
}

/*Now let's set each of the titles*/
#first_title {
    color: black;
    font-size: 80pt;
    font-weight: 300;
}

#second_title {
    color: black;
    font-size: 40pt;
    font-weight: lighter;
}


/* Let's organize the text and pictures (class)*/

.wrapper {
    margin: auto;
    margin-left: 75pt;
    width: 90%; /* to adjust to the device*/
}

.nav { /*Don't forget to add the type of heading or paragraph*/
    color: black;
    font-family: "Aileron";
    font-size: 14pt;
    width: 80pt;
    position: relative;
    transition: 0.2s;
    transition: transform 250ms;
}

.nav a:hover:before{
    content: '';
    display:block;
    top: -10px;
    width: 100%;
    left: 0%;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
    display: inline-block; /*creates boxes that automatically wrap text 
    to give them space and set them apart when beside other content.*/
}

.nav a:hover{
    color: #85C7F2; /*changes color when mouse on top*/
    text-decoration: none;
}

h4:hover{
    color: #85C7F2; /*changes color when mouse on top*/
    transform: translateX(10px); /*moves the text to the right when mouse on top*/
}

a:active{
    text-decoration: none;
}

.pics {
    width: 360px;
    float: right;
}

.presentation-pics{
    width: 290px;
    align-items: center; /* for center of page */
    display: flex;
    justify-content: center; /* align horizontal */
}

/*ABOUT ME PAGE*/

.about-container{
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 440px 1fr 1fr; /* First column fixed at 460px, others flexible */
    column-gap: 20px;
}

.about-pic{
    width: 440px; /* Fixed width */
    height: 566px; /* Fixed height */
    position: sticky;
    top: 10px;
}

.about-text{
    grid-column: span 2; /* Text spans two columns */
    margin-right: 45pt;
}

/*CONTACT PAGE*/

.how-to{
    margin-right: 45pt;
}

.logos-contact {
    display: flex;
    justify-content: center; /* Center align the logos */
    align-items: center;
    gap: 100px; /* Space between the logos */
}

.logos-contact .container {
    margin-right: 45pt;
    display: flex;
}

.logos-contact img {
    width:80px; /* Adjust the size of the logos */
    height: auto;
}

.container a:hover{
    opacity: 0.85;
}

/*PROJECTS PAGE*/

.tdsr{
    text-align: right;
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    column-gap: 20px;
    }

.tdsr img{
    width: 600px;
    height: auto;
}

.voices{
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    column-gap: 20px;
}

.voices img{
    width: 600px;
    height: auto;
}

h3{
    color: black;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: medium;
}

    /*EDIT FOR THE BUTTONS OF THE PROJECTS PAGE*/
    
a.project-button{
        color: #ffde59;
        background-color: #10464C;
        padding: 10px 20px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s ease-in-out;
}

/*.project-button a:link, a:visited{
    text-decoration: none;
    color: #ffde59;
}*/

.project-button hover{
    transform: scale(1.2);
}

/*.project-button a:active{
    text-decoration: none;
}*/



