body{background-color: #ffde59; 
} /* The background colour of the main page */

/*Let's set the typography of the paragraph anf titles for this page*/
@font-face { /*We import the type of fonts*/
    font-family: "Aileron";
    font-style: normal;
    src: local("Aileron-SemiBold"), url(/Users/lauradelafuente/Desktop/HTML/website/Aileron-SemiBold.woff), format(".woff");
}

@font-face {
    font-family: "Ramillas" ;
    font-style: normal;
    src:local("Ramillas-Regular") url(/Users/lauradelafuente/Desktop/HTML/website/Ramillas-Regular.tff), format(".tff");
}

/*Set h1, h2*/
h1, h2 {color: black;
font-size: large;
font-family: "Ramillas";
}

/*Now let's set each of the titles*/
#first_title {
    font-size: 80pt;
    font-weight: 300;
}

#second_title {
    font-size: 40pt;
    font-weight: lighter;
}


/* Let's organize the text and pictures (class)*/

.wrapper {
    margin: auto;
    margin-left: 75pt;
    width: 90%; /* to adjust to the device*/
}

/*.nav {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}*/

.nav { /*Don't forget to add the type of heading or paragraph*/
    color: black;
    font-family: "Aileron";
    font-size: 14pt;
    /*width: 15pt;*/
    /*padding: 0px 0px 0px;*/
    transition: 0.2s;
    transition: transform 250ms;
}
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

.nav:hover{
    color: #85C7F2; /*changes color when mouse on top*/
    transform: translateX(10px); /*moves the text to the right when mouse on top*/

}

a:active{
    text-decoration: none;
}

.pics {
    width: 360px;
    float: right;
}

.presentation-pics{
    width: 290px;
    align-items: center; /* for center of page */
    display: flex;
    justify-content: center; /* align horizontal */
}

.about-text{
    margin-right: 75pt;
}

/*Let's position and modify the contact items*/
/*.contact-item {
    color: black;
    font-family: "Aileron";
    font-size: 14pt;
    padding: 0px 0px 0px;
    position: relative;
    left: 920pt;
    top: 30pt;
}

