body{background-color: #ffde59; 
} /* The background colour of the main page */

/*Let's set the typography of the paragraph anf titles for this page*/
@font-face { /*We import the type of fonts*/
    font-family: "Aileron";
    font-style: normal;
    src: local("Aileron-SemiBold"), url(https://raw.githack.com/dlfe-laura/Portfolio/main/Aileron-SemiBold.woff), format("woff");
} /*using raw.github.com for the src of the fonts*/

@font-face {
    font-family: "Ramillas" ;
    font-style: normal;
    src:local("Ramillas-Regular") url(https://raw.githack.com/dlfe-laura/Portfolio/main/Ramillas-Regular.ttf), format("truetype");
}

/*Set h1, h2*/
h1, h2 {color: black;
font-size: large;
font-family: "Ramillas";
}

/*Now let's set each of the titles*/
#first_title {
    color: black;
    font-size: 80pt;
    font-weight: 300;
}

#second_title {
    color: black;
    font-size: 40pt;
    font-weight: lighter;
}


/* INDEX PAGE*/

.wrapper {
    margin: auto;
    margin-left: 75pt;
    margin-bottom: 25pt;
    width: 90%; /* to adjust to the device*/
}

.nav { /*Don't forget to add the type of heading or paragraph*/
    color: black;
    font-family: "Aileron";
    font-size: 14pt;
    width: 80pt;
    position: relative;
    transition: 0.2s;
    transition: transform 250ms;
}

.nav a:hover:before{
    content: '';
    display:block;
    top: -10px;
    width: 100%;
    left: 0%;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
    display: inline-block; /*creates boxes that automatically wrap text 
    to give them space and set them apart when beside other content.*/
}

.nav a:hover{
    color: #85C7F2; /*changes color when mouse on top*/
    text-decoration: none;
}

h4:hover{
    color: #85C7F2; /*changes color when mouse on top*/
    transform: translateX(10px); /*moves the text to the right when mouse on top*/
}

a:active{
    text-decoration: none;
}

.pics {
    width: 360px;
    float: right;
}

.presentation-pics{
    width: 290px;
    align-items: center; /* for center of page */
    display: flex;
    justify-content: center; /* align horizontal */
}

.muscle{
    width: 128px; /* width of a single frame */
    height: 128px; /* height of a single frame */
    background-image: url('Botón.gif');
    background-size: cover;
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation: run-animation 1s steps(4) infinite;
}

@keyframes run-animation {
    from {
        background-position: 0;
    }
    to {
        background-position: -192px; /* width of sprite sheet */
    }
}

/*ABOUT ME PAGE*/

.about-container{
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 440px 1fr; /* First column fixed at 460px, others flexible */
    column-gap: 40px;
}

.about-pic {
    /* Container for the image */
    position: relative; /* Relative positioning for the container */
}

.about-container img{
    width: 100%; /* Fixed width */
    height: auto; /* Fixed height */
    max-height: 100%;
    border-radius: 8px; /* Rounded corners */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.about-text{
    grid-column: 2 / 3; /* Span across the second column (text column) */
    margin-right: 45pt;
    font-size: large;
}

/*CONTACT PAGE*/

.how-to{
    margin-right: 45pt;
}

.logos-contact {
    display: flex;
    justify-content: center; /* Center align the logos */
    align-items: center;
    gap: 100px; /* Space between the logos */
}

.logos-contact .container {
    margin-right: 45pt;
    display: flex;
}

.logos-contact img {
    width:80px; /* Adjust the size of the logos */
    height: auto;
}

.container a:hover{
    opacity: 0.85;
}

/*PROJECTS PAGE*/

.tdsr{
    margin-right: 45pt;
    text-align: right;
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    column-gap: 40px;
    border: 3px  rgba(255,255,255, .3);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255,255,255, .3);
    animation: tdsr 2s forwards;
    }

@keyframes tdsr {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tdsr img{
    width: 600px;
    height: auto;
    border-radius: 8px; /*to round the corners*/
}

.voices{
    margin-right: 45pt;
    display: grid;
    align-items: start;/* Align items at the start of each row */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    column-gap: 40px;
    border: 3px  rgba(255,255,255, .3);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255,255,255, .3);
    animation: voices 2s forwards;

}

@keyframes voices {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.voices img{
    width: 600px;
    height: auto;
    border-radius: 8px;
}

h3{
    color: black;
    font-family: Tahoma;
    font-size: x-large;
}

    /*EDIT FOR THE BUTTONS OF THE PROJECTS PAGE*/
    
a.project-button{
        color: #ffde59;
        background-color: #10464C;
        padding: 10px 20px;
        border-radius: 4px;
        text-align: center; 
        text-decoration: none;
        display: inline-block;
        transition: transform 0.2s ease-in-out;
}

.align-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a.project-button:hover{
    transform: scale(1.05);
}




